@import "tailwindcss";

/* .nav-background-color {
  @apply bg-[#D7B3A1];
} */

.text-color{
   color: #037F69!important
}

.PhoneInput .PhoneInputInput {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 4px;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.animate-wave {
  display: inline-block;
  animation: wave 3s ;
  transform-origin: 70% 70%;
}


